html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

// just to try that everything works

$color: rgb(59, 59, 112);

body {
    height: 100vh;
    background: $color;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

}

header button {
    background: none;
    border: none;
}

.menu-btn {
    position: fixed;
    top: 39px;
    right: 35px;
    z-index: 5000;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
  }
  
  .menu-btn .btn-line {
    width: 28px;
    height: 2px;
    margin-bottom: 6px;
    background: #fff;
    transform: translate3d(0, 0, 0);
    transition: all 0.4s ease-out;
  }
  
  .menu-btn .btn-line:nth-child(2) {
    width: 15px;
  }
  
  .menu-btn.close .btn-line:nth-child(2) {
    transform: rotate(0deg) translate3d(200px, 0px, 0);
  }
  
  .menu-btn.close .btn-line:nth-child(1) {
    transform: rotate(45deg) translate3d(3px, 8px, 0);
  }
  
  .menu-btn.close .btn-line:nth-child(3) {
    transform: rotate(-45deg) translate3d(3px, -8px, 0);
  }
  

